includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        booleansInConditions: false

    level: max

    paths:
        - config
        - src

    tmpDir: build/phpSstan
